.pop-up{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
    transform: translateY(-44.5%) scale(0);
    transition: .4s ease-in-out;
}

.pop-up.active{
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, .8);
}

.pop-up-container{
    display: flex;
    width: 100%;
    height: 100%;
}
.pop-up-body{
    margin: auto;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 50px 15px 50px 15px;
    position: relative;
}

.pop-up-body label{
    font-family: Montserrat;
    font-weight: 600;
    color: #22262D;
    margin-bottom: 40px;
}

.pop-up-body h1{
    font-family: Montserrat;
    font-weight: 600;
    color: #22262D;
    margin-bottom: 40px;
}

.pop-up-body input{
    display: block;
    margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: #E5E5E5;
    border: none;
    font-family: Montserrat;
    font-weight: 500px;
    font-size: 18px;
    color: #89909F;
}

.pop-up-body input:focus{
    outline: none;
}

.pop-up-body button{
    cursor: pointer;
    display: block;
    width: 150px;
    margin: 20px auto 0px auto;
    padding: 20px;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    border: none;
    color: #fff;
    border-radius: 10px;
    background-color: orange;
}

.pop-up-close{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 21px;
}


.input-file {
	position: relative;
	display: inline-block;
}
.input-file-btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file-text {
	padding: 0 10px;
	line-height: 40px;
	display: inline-block;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover .input-file-btn {
	background-color: #59be6e;
}
.input-file:active .input-file-btn {
	background-color: #2E703A;
}
 
/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
	background-color: #eee;
}